a {
  color: #6af;
}
button {
  height: 30px;
}
button[disabled=disabled] {
  opacity: 0.5;
  pointer-events: none;
}
input {
  width: 160px;
  height: 30px;
  margin: 2px;
  padding: 10px;
}
input[type=checkbox] {
  position: relative;
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin: 2px;
  vertical-align: middle;
}
input[type=checkbox]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  border: solid 1px rgba(0,0,0,0.1);
}
input[type=checkbox]:checked:after {
  position: absolute;
  top: -3px;
  left: 2px;
  content: "\02E9";
  font-family: arial;
  font-size: 22px;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  -webkit-transform-origin: 34% 88%;
  -moz-transform-origin: 34% 88%;
  -ms-transform-origin: 34% 88%;
  -o-transform-origin: 34% 88%;
  -webkit-transform-origin: 34% 88%;
  -moz-transform-origin: 34% 88%;
  -ms-transform-origin: 34% 88%;
  -o-transform-origin: 34% 88%;
  transform-origin: 34% 88%;
}
form {
  border: solid 1px rgba(0,0,0,0.1);
  padding: 10px;
}
.field {
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  vertical-align: top;
}
.field label {
  display: inline-block;
  width: 120px;
  color: #444;
}
.field label + label {
  width: 160px;
  height: 30px;
  margin: 2px;
  padding: 10px;
  color: #000;
  line-height: 14px;
}
.field.error label {
  color: #c00;
}
.field.error label + * {
  background: #ffc2c2;
}
.field.error .errors {
  color: #c00;
  font-size: 13px;
}
section {
  margin-bottom: 30px;
  position: relative;
}
section h1 {
  font-weight: 300;
  margin-top: 0;
  display: inline-block;
  margin-right: 10px;
}
section[disabled=disabled] > * {
  opacity: 0.5;
  pointer-events: none;
}
.page {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  -webkit-animation: fadeIn 0.3s 1 linear;
  -moz-animation: fadeIn 0.3s 1 linear;
  -ms-animation: fadeIn 0.3s 1 linear;
  -o-animation: fadeIn 0.3s 1 linear;
  animation: fadeIn 0.3s 1 linear;
}
.page.removed {
  -webkit-animation: fadeOut 0.3s 1 linear;
  -moz-animation: fadeOut 0.3s 1 linear;
  -ms-animation: fadeOut 0.3s 1 linear;
  -o-animation: fadeOut 0.3s 1 linear;
  animation: fadeOut 0.3s 1 linear;
  position: absolute;
  width: 100%;
  z-index: 2;
  opacity: 0;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  padding: 0;
  margin: 0;
}
body {
  font: 400 16px Arial, sans-serif;
  color: #555;
  line-height: 28px;
  padding: 0;
  margin: 0;
  padding-top: 40px;
}
h1 {
  font-weight: 200;
  margin: 10px 0;
}
p {
  margin: 5px 0;
}
.appBody {
  position: relative;
  padding: 10px;
  height: 100%;
}
.highlight {
  color: #6af;
}
.header {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 40px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}
.header * {
  vertical-align: middle;
}
.header img {
  height: 100%;
  padding: 10px 0;
}
.header h1 {
  color: #000;
  display: inline-block;
  margin: 0;
  padding: 6px;
  font-size: 18px;
  font-weight: 400;
}
.actionRegion {
  display: inline-block;
  height: 100%;
}
.actionRegion:hover {
  cursor: pointer;
}
.actionRegion:active {
  background: rgba(255,255,255,0.2);
}
.contextRegion {
  vertical-align: middle;
  width: 20px;
  display: inline-block;
}
.contextRegion:before {
  -webkit-transition: left 0.3s ease-out , padding 0.3s ease-out;
  -moz-transition: left 0.3s ease-out , padding 0.3s ease-out;
  -ms-transition: left 0.3s ease-out , padding 0.3s ease-out;
  -o-transition: left 0.3s ease-out , padding 0.3s ease-out;
  transition: left 0.3s ease-out , padding 0.3s ease-out;
}
.contextRegion.menu:before {
  position: relative;
  content: "\2261";
  font-size: 30px;
  font-weight: 200;
  line-height: 100%;
  left: -15px;
  top: 2px;
  margin: auto 0;
  color: rgba(0,0,0,0.7);
}
.contextRegion.menu.menuOpen:before {
  left: -20px;
}
.contextRegion.back:before {
  content: "\2039";
  top: -3px;
  padding-left: 2px;
  font-size: 35px;
  left: 0;
  color: rgba(0,0,0,0.5);
}
.showableWrapper {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  top: 40px !important;
  z-index: 3;
}
.showableWrapper .mask {
  position: fixed;
  top: 40px;
  left: 0;
  width: 250%;
  bottom: 0;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
  background: -moz-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
  z-index: 1;
}
.showable {
  z-index: 2;
  background: #fff;
  border-right: solid 1px rgba(0,0,0,0.1);
}
.showable .menuItem {
  display: block;
  width: 100%;
  padding: 10px;
  background: #fff;
  border-bottom: solid 1px rgba(0,0,0,0.1);
  text-decoration: none;
}
.showable .menuItem.current {
  font-weight: 600;
}
@media all and (min-width: 600px) {
  button:focus {
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5);
  }
  input:focus {
    box-shadow: inset 0 0 0 2px rgba(102,170,255,0.5);
  }
  input:focus[type=checkbox]:before {
    box-shadow: inset 0 0 0 2px rgba(102,170,255,0.5);
  }
@media all and (min-width: 1024px) and (max-width: 1439px) {
}
@media all and (min-width: 1440px) {
}
  .showableWrapper {
    position: fixed;
    left: 0;
    top: 40px;
    width: 220px;
    bottom: 0;
  }
  .showable {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .showable button:focus {
    box-shadow: inset 0 0 0 2px rgba(102,170,255,0.5);
  }
  .appBody {
    padding: 20px;
    margin-left: 220px;
  }
  .appBody > * > h1 {
    padding: 20px;
    margin: -20px -20px 20px -20px;
  }
}
