.showableWrapper{
    position:fixed;
    left:0;
    top:headerHeight;
    width:menuWidth;
    bottom:0;
}

.showable{
    position:absolute;
    fill();
    button{
        &:focus{
            box-shadow: inset 0 0 0 2px rgba(highlight,0.5);
        }
    }
}