*{
    box-sizing: border-box;
    &:focus{
        outline: none;
    }
}

html{
    padding: 0;
    margin: 0;
}

body{
    font: defaultFont;
    color: #555;
    line-height: 28px;
    padding: 0;
    margin: 0;
    padding-top:headerHeight;
}

h1{
    font-weight: 200;
    margin: 10px 0;
}

p{
    margin:5px 0;
}

.appBody{
    position:relative;
    padding:10px;
    height:100%;
}

.highlight{
    color: highlight;
}