darkGray = #444;
lightGray = #ccc;
veryLightGray = #eee;

highlight = #6AF;

lightGray = rgba(black, 0.1);

shadow = rgba(black, 0.2);

whiteTransparent = rgba(white, 0.5);
whiteBarelyTransparent = rgba(white, 0.9);

blackTransparent = rgba(black, 0.5);
blackBarelyTransparent = rgba(black, 0.9);
blackVeryTransparent = rgba(black, 0.2);

error = darken(red, 20%);